<h1><%= title %></h1>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<div class="favorites-container">
    <h2>Most Favorited Vehicles</h2>

    <table id="inventoryDisplay">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Total Favorites</th>
            </tr>
        </thead>
        <tbody>
            <% stats.forEach(item => { %>
                <tr>
                    <td><%= item.inv_make %></td>
                    <td><%= item.inv_model %></td>
                    <td><%= item.total_favorites %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>