<h1><%= title %></h1>

<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<form action="/account/register" method="post" class="register-form">
    <label for="account_firstname">First Name</label>
    <input type="text" name="account_firstname" id="accountFirstname" required value="<%= locals.account_firstname %>">

    <label for="account_lastname">Last Name</label>
    <input type="text" name="account_lastname" id="accountLastname" required value="<%= locals.account_lastname %>">

    <label for="account_email">Email</label>
    <input type="email" name="account_email" id="accountEmail" required value="<%= locals.account_email %>">

    <label for="account_password">Password</label>
    <div class="password-wrapper">
        <input 
            type="password" 
            id="account_password" 
            name="account_password" 
            required
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        <span id="togglePassword" class="toggle-password">Show</span>
    </div>

    <p class="password-rules">
        Password must be at least 12 characters, contain 1 capital letter, 1 number, and 1 special character.
    </p>

    <button type="submit">Register</button>
</form>

<script src="/js/register.js"></script>